# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\diegomartinc\CLionProjects\PEL\mi_codigo\2020-11-7_punteros_y_ficheros_continuacion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
