# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\diegomartinc\CLionProjects\PEL\mi_codigo\2020-11-8_ficheros_puntero_escritura\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
